@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD

.label {
  @apply block mb-1 text-sm text-gray-600;
}

.input {
  @apply w-full border border-gray-300 rounded-md p-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400;
}
=======
>>>>>>> 41fc8df85f1e632cbee79edbcc9aa6d26ceb263f
