@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-50; /* ou #F3F4F6 para um cinza exato ao da sidebar */
}



.label {
  @apply block mb-2 text-sm text-gray-600;
}

.input {
  @apply w-full border border-gray-300 rounded-md p-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400;
}
